body {
	overflow:scroll;
	font-family: "Roboto","Helvetica","Arial",sans-serif;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

@media (max-width: 340px) {
  .header-font-small { font-size: 18px; }
}

@media (max-width: 315px) {
  .f5-small { font-size: 1rem; }
  .f6-small { font-size: .875rem; }
}

@media (max-width: 550px) {
  .f5-contact { font-size: 1rem; }
}

@media (max-width: 362px) {
  .pad-small { padding-left: 31px; }
}

@media (min-width: 900px) {
  .right-3-l { right: 4rem; }
}

@media screen and (min-width: 30em) {
	.table-header-custom {
		display: table-header-group !important;
	}
}

.about-us-bold {
	color: #414141;
	font-weight: 400;
}

.bottom-l {
	bottom: 6rem;
}

.shadow-5-ns {
	box-shadow: 4px 4px 8px 0 rgba( 0, 0, 0, .4 );
}

.footer-gray {
	color: #9e9e9e;
}

.beginners-orange {
	color: #F57C00;
}

.challengers-pink{
	color: #E91E63;
}

.elite-green {
	color: #2D9434;
}

.bg-beginners-orange {
	background-color: #D66F1A;

}

.bg-challengers-pink{
	background-color: #870a0a;
}

.bg-elite-green {
	background-color: #004D00;
}

.bg-private-purple {
	background-color: #065151;
}

.bg-rankings-table {
	background-color: #DDD9CD;
}


.bg-tournaments-table {
	overflow: scroll !important;
	background-color: #DED1DA;
}

#drawer-icon {
	padding-left: 0;
}

.date-background {
	background-color: #19a97478;
}

.deadline-background {
	background-color: #e0b4b499;
}

.hcustom {
	height: 32rem;
}

.home-title {
	background:
    linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(0, 0, 0, 0.25)
    ),
	url('./images/titlePic-editweb.jpg') center no-repeat;
	background-size: cover;
}

.home-programs {
	background:
    linear-gradient(
		to bottom,
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.45),
		rgba(0, 0, 0, 0.00),
		rgba(0, 0, 0, 0.00)
    ),
	url('./images/beginners4-editweb.jpg') center no-repeat;
	background-size: cover;
	height: 500px;
}

.hot-pink {
	color: #FF4081;
}

.hover-hot-pink:hover {
	color: #FF4081;
}

.hover-orange-custom:hover {
	color: #CE6C15;
}

.forrest-green {
	color: #003300;
}

.custom-green-link {
	color: #CE6C15;
	text-decoration: none;
}
.custom-green-link:hover {
	color: #CE6C15;
	text-decoration: underline;
}

.email-icon-color {
	color: #E32255;
}

.list {
	margin-top: 0;
}

.link-rankings {
	color: #6AA4BA;
}

.custom-link {
  text-decoration: none;
  color: #CE6C15 !important;
}

  .custom-link:hover {
  	text-decoration: underline;
  }

  .custom-link .material-icons {
    position: relative;
    top: -1px;
    vertical-align: middle;
  }

/*this changes the color for the rankings section buttons*/
.mdl-button--accent.mdl-button--accent {
	color: #C3D9EC;
}
/*this changes the color for the rankings section buttons*/
.mdl-button--accent.mdl-button--accent.mdl-button--raised {
	color: black;
	background-color: #C3D9EC;
}

/*this changes the color for the tournaments section level buttons*/
.mdl-button--accent-custom.mdl-button--accent-custom {
	color: #FF5722;
}
/*this changes the color for the tournaments section level buttons*/
.mdl-button--accent-custom.mdl-button--accent-custom.mdl-button--raised {
	color: black;
	background-color: #FF5722;
}

/*this changes the color for the tournaments section month buttons*/
.mdl-button--accent-custom2.mdl-button--accent-custom2 {
	color: #80A129;
}
/*this changes the color for the tournaments section month buttons*/
.mdl-button--accent-custom2.mdl-button--accent-custom2.mdl-button--raised {
	color: black;
	background-color: #80A129;
}

/*back to top buttons*/
.mdl-button--fab.mdl-button--colored-custom {
	background: #CAF973;
}
.mdl-button--fab.mdl-button--colored-custom-rankings {
	color: white;
	background: #C2185A;
}

.mdl-data-table {
	border-top: 0;
	border-bottom: 0;
	border-left: 0;
	border-right: 0;
}

.mdl-layout__drawer {
	border-right-width: 0;
	/*#F4F4F4*/
	background-color: #999999;
    opacity: .9;
    position: fixed;
    width: 100%;
    transition-property: transform;
    transform: translateX(-100%);
}

.mdl-layout__drawer .mdl-navigation {
	padding-top: 0px;
}

.mdl-layout__drawer-button {
	margin-top: 2px !important;
	margin-bottom: 2px !important;
}

.mdl-layout__header {
	background-color: #003300;
	position: fixed;
}

.mdl-layout__header-row .mdl-navigation {
	height: 50px;
}

.mdl-layout__header-row .mdl-navigation__link {
	line-height: 50px;
}

.mdl-layout-title {
	font-weight: 300;
}

.mdl-layout__title {
	padding-left: 0 !important;
    display: table !important;
    table-layout: fixed !important;
    width: 100% !important;
}

.mdl-layout--large-screen-only .mdl-navigation__link {
	border-bottom: 4px solid transparent;
	font-weight: 300;
}

.mdl-layout--large-screen-only .mdl-navigation__link:hover {
	border-bottom: 4px solid #fff;
}

.mdl-mini-footer {
	padding-top: 16px;
	padding-bottom: 16px;
	padding-right: 0px;
    display: table;
    width: 100%;
}

.prim-text {
	color: #414141;
	font-weight: 300;
}

.prim-text-bold {
	color: #414141;
	font-weight: 400;
}

.programs-section {
	overflow:scroll !important;
}

.programs-title {
	background:
    linear-gradient(
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.45)
    ),
	url('./images/elite4-editweb.jpg') center no-repeat;
	background-size: cover;
}

.rankings-section {
	overflow:scroll !important;
	background:
    linear-gradient(
      rgba(0, 0, 0, 0.40),
      rgba(0, 0, 0, 0.40)
    ),
	url('./images/tennis-ball-editweb.jpg') center no-repeat;
	background-size: cover;
}

.sec-text {
	color: #757575;
	font-weight: 300;
}

.scroll-component {
	position: fixed;
	bottom: 50px;
	right: 30px;
	cursor: pointer;
	transition: opacity 0.2s linear 0s, visibility;
	opacity: 0;
	visibility: visible;
	z-index: 500;
}

.table-box-shadow {
	box-shadow: 0 -1px 0 0 #555555 inset!important;
}

.table-header-custom {
	display: none;
}

.tournaments-section {
	overflow:scroll !important;
	background:
	linear-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
	),
	url('./images/tennis-court-editweb.jpg') center no-repeat;
	background-size: cover;
}

/*FOR FULLSCREEN EXPERIENCE*/
.mdl-layout {
    overflow: visible;
}

.mdl-layout__content {
    display: block;
    overflow: visible;
    margin-top: 102px;
}

.is-small-screen .mdl-layout__content {
    margin-top: 56px;
}
.mdl-layout__header-row {
    height: 50px;
}
.mdl-layout__obfuscator {
    position: fixed;
}

#header-row {
	margin-top: 2px;
}

#header-row2 {
	padding-left: 40px;
}

/* Media Queries
	--breakpoint-not-small screen and (min-width: 30em);
	--breakpoint-medium screen and (min-width: 30em) and (max-width: 60em);
	--breakpoint-large screen and (min-width: 60em);
*/
